extends layout

block content

    div.back-link-container
        a.link-back(href="/") Back

    h1.heading-large #{heading}

    table
        thead
            tr
                th Row ID
                th Nomis
                th PNC
                th Staff ID
                th Staff First
                th Staff Last
        tbody
            each row in rows
                tr
                    td #{row.id}
                    td #{row.offender_nomis}
                    td #{row.offender_pnc}
                    td #{row.staff_id}
                    td #{row.staff_first}
                    td #{row.staff_last}


    br
    br
    a#backBtn.requiredButton.button.button(href="/" role="button") Back
    br
    br
