extends layout

block content

    div.back-link-container
        a.link-back(href="/") Back

    h1.heading-large #{heading}

    table
        thead
            tr
                th Row ID
                th Timestamp
                th Nomis
                th PNC
                th Staff ID
                th Staff First
                th Staff Last
                th Rejection
        tbody
            each entry in report
                tr
                    td #{entry[0]}
                    td #{moment(entry[1]).format('DD/MM/YYYY - hh:mm')}
                    td #{entry[2]}
                    td #{entry[3]}
                    td #{entry[4]}
                    td #{entry[5]}
                    td #{entry[6]}
                    td #{entry[7]}


    br
    br
    a#backBtn.requiredButton.button.button(href="/" role="button") Back
    br
    br
