extends layout

block content

    if (error)
        div.grid-row.paddingBottom
            div.column-full
                h1.heading-medium Error
                div #{error}
                div
                    a(href="/") Start again
    else
        div.grid-row.paddingBottom
            div.column-full.paddingBottom.smallPaddingTop.smallMarginTop
                h1.heading-large Upload
                div.column-half
                    form#acceptanceForm(method='POST', action='/', encType='multipart/form-data')
                        input(type="hidden" name="_csrf" value=csrfToken)
                        input(type="file" name="datafile")
                        input#continueBtn.requiredButton.button(type="submit" value="Upload")
                div.column-half
                    if counts
                        h1.heading-large Upload Result
                        p Number of lines including headings row: #{counts.lineCount}
                        p Number of records after headings: #{counts.recordCount}
                        p Number of records uploaded: #{counts.addedCount}
            div.column-full.paddingBottom.borderBottomLight Expected columns:
                |  #{columnSpec}


            div.column-full.paddingBottom.borderBottomLight
                h1.heading-large Uploaded
                div.column-quarter
                    p Invalid:
                        =" "
                        span#invalidCount #{invalidCount}
                    if invalidCount > 0
                        a.button.button-secondary(href="viewInvalid" role="button") View
                        if(!isSending && !isFilling)
                            =" "
                            a.button(href="removeInvalid" role="button") Discard

                div.column-quarter
                    p Incomplete:
                        =" "
                        span#incompleteCount #{incompleteCount}
                    if incompleteCount > 0
                        a.button.button-secondary(href="viewIncomplete" role="button") View
                        if(!isSending && !isFilling)

                div.column-quarter
                    p Duplicate:
                        =" "
                        span#duplicateCount #{duplicateCount}
                    if duplicateCount > 0
                        a.button.button-secondary(href="viewDuplicate" role="button") View
                        if(!isSending && !isFilling)
                            =" "
                            a.button(href="removeDuplicate" role="button") Discard

                div.column-quarter
                    p All:
                        =" "
                        span#uploadedCount #{uploadedCount}
                    if uploadedCount > 0
                        a.button.button-secondary(href="viewUpload" role="button") View


            div.column-full.paddingBottom.borderBottomLight
                div.column-half
                    h1.heading-medium Fill Nomis IDs
                    p Incomplete:
                        =" "
                        span#incompleteCount #{incompleteCount}
                        |, Errors:
                        =" "
                        span#fillRejectedCount #{fillRejectedCount}
                    if incompleteCount > 0
                        if(!isSending)
                            if(isFilling)
                                a#fillBtn.button(href="stopFill" role="button") Stop filling Nomis numbers
                            else
                                a#fillBtn.button(href="fill" role="button") Start filling Nomis numbers
                        =" "
                        a.button.button-secondary(href="viewIncomplete" role="button") View

                div.column-half
                    h1.heading-medium Merge
                    if (invalidCount > 0 || duplicateCount > 0)
                        p Usable:
                            =" "
                            span#usableCount  #{usableCount}
                        p Discard invalid & duplicate records
                    else
                        p Ready to merge:
                            =" "
                            span#completeCount  #{completeCount}
                        if(!isSending && !isFilling) && completeCount > 0
                            =" "
                            a.button(href="merge" role="button") Merge upload to master

            div.column-full.paddingBottom.borderBottomLight
                h1.heading-large Send to Nomis
                p Pending:
                    =" "
                    span#pendingCount #{pending}
                    | , Errors:
                    =" "
                    span#rejectedCount #{rejected}
                    | , Done:
                    =" "
                    span#sentCount #{sent}
                if (pending > 0 || rejected > 0)
                    if(isFilling)
                        p Wait for filling to complete
                    else
                        if(isSending)
                            a.button(href="stopSend" role="button") Stop sending to Nomis
                        else
                            a.button(href="send" role="button") Start sending to Nomis
                            if rejected > 0
                                =" "
                                a.button.button-secondary(href="viewErrors" role="button") View rows with errors
                            =" "
                            a.button.button-secondary(href="viewMaster" role="button") View all
                            =" "
                            a.button(href="send404" role="button") Re-send 404

            div.column-full
                h1.heading-large Admin
                if(isSending || isFilling)
                    p Wait for filling/sending to complete
                else
                    a.button.button-secondary(href="clearUpload" role="button") DELETE uploaded data
                    ="  "
                    a.button.button-secondary(href="clearMaster" role="button") DELETE master data
                    ="  "
                    a.button.button-secondary(href="setPending" role="button") Set all to PENDING
                    ="  "
                    a.button.button-secondary(href="/audit" role="button") View activity record
                p
                p Find nomis ID: #{fillingRate}ms
                    | , Send relationship: #{sendingRate}ms


block append scripts
    script(src="/public/javascripts/activityStatePoll.js?"+version)
