extends layout

block content

    h1.heading-large Upload caseload CSV data

    form#acceptanceForm(method='POST', action='/', encType='multipart/form-data')
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="file" name="datafile")
        input#continueBtn.requiredButton.button.midMarginBottom(type="submit" value="Upload")

    if (result)
        h1.heading-medium Upload Success
        p Successfully processed #{result} lines

    if (error)
        h1.heading-medium Upload Error
        div The following error occured:
        | #{error}

    h1.heading-large Pending caseload data

        h1.heading-medium Valid rows to process
        div #{pending}

        h1.heading-medium Errors to fix
        div #{errors}


    a.button(href="send" role="button") Send to Nomis
    br
    br
    a.button(href="downloadErrors" role="button") Download errors
    br
    br
