extends layout

block content

    if (error)
        div.grid-row.paddingBottom
            div.column-full
                h1.heading-medium Error
                div #{error}
                div
                    a(href="/") Start again
    else
        div.grid-row.paddingBottom
            div.column-full

                div.column-half
                    h1.heading-large Upload
                    form#acceptanceForm(method='POST', action='/', encType='multipart/form-data')
                        input(type="hidden" name="_csrf" value=csrfToken)
                        input(type="file" name="datafile")
                        input#continueBtn.requiredButton.button(type="submit" value="Upload")


            div.column-full
                div.column-half
                    h1.heading-large Clean
                    div.column-quarter
                        p Invalid records:
                            =" "
                            span#uploadInvalidCount #{uploadInvalid}
                        if uploadInvalid > 0
                            a.button.button-secondary(href="viewInvalid" role="button") View invalid records

                    div.column-quarter
                        p Duplicate records:
                            =" "
                            span#uploadDuplicateCount #{uploadDuplicate}
                        if uploadDuplicate > 0
                            a.button.button-secondary(href="viewDuplicates" role="button") View duplicate records

                div.column-half
                    h1.heading-large Stage
                    p Ready to stage:
                        =" "
                        span#uploadValidCount  #{uploadValid}
                    if(isSending || isFilling)
                        p Wait for filling/sending to complete
                    else
                        if uploadInvalid > 0
                            a.button(href="removeInvalid" role="button") DISCARD INVALID RECORDS
                        else if uploadDuplicate > 0
                            a.button(href="removeDuplicate" role="button") DISCARD DUPLICATE RECORDS
                        else if uploadValid > 0
                            a.button(href="stage" role="button") Stage uploaded records
                        else
                            p Nothing to stage

            div.column-full
                div.column-half
                    h1.heading-large Fill Nomis Ids
                    p Incomplete records:
                        =" "
                        span#stagedIncompleteCount #{stagedIncomplete}
                    if stagedIncomplete > 0
                        if(isSending)
                            p Wait for filling to complete
                        else
                            if(isFilling)
                                a#fillBtn.button(href="stopFill" role="button") Stop filling Nomis numbers
                            else
                                a#fillBtn.button(href="fill" role="button") Start filling Nomis numbers
                            =" "
                            a.button.button-secondary(href="viewIncomplete" role="button") View incomplete records

                div.column-half
                    h1.heading-large Merge to master record
                    p Ready to merge:
                        =" "
                        span#stagedCount  #{staged}
                    if(isSending || isFilling)
                        p Wait for filling/sending to complete
                    else
                        if staged > 0
                            a.button(href="merge" role="button") Merge staging to master

            div.column-full
                div.column-half
                    h1.heading-large Send to Nomis
                    p Pending rows:
                        =" "
                        span#pendingCount #{pending}
                    p Rows with errors:
                        =" "
                        span#rejectedCount #{rejected}
                    if (pending > 0 || rejected > 0)
                        if(isFilling)
                            p Wait for filling to complete
                        else
                            if(isSending)
                                a.button(href="stopSend" role="button") Stop sending to Nomis
                            else
                                a.button(href="send" role="button") Start sending to Nomis
                        =" "
                        a.button.button-secondary(href="viewErrors" role="button") View rows with errors

            div.column-full
                    div.column-half
                        h1.heading-large Admin
                        if(isSending || isFilling)
                            p Wait for filling/sending to complete
                        else
                            if staged > 0 || stagedIncomplete > 0
                                a.button.button-secondary(href="clearStaged" role="button") DELETE staged data
                            if uploadValid > 0 || uploadInvalid > 0 || uploadDuplicate > 0
                                a.button.button-secondary(href="clearUpload" role="button") DELETE uploaded data
                        ="  "
                        a.button.button-secondary(href="/audit" role="button") View activity record
                        p
                        if(sent)
                            p Successfully sent:
                                =" "
                                span#sentCount #{sent}


block append scripts
    script(src="/public/javascripts/activityStatePoll.js?"+version)
