extends layout

block content

    div.grid-row.paddingBottom
        div.column-full
            h1.heading-large Upload
            div.column-full
                form#acceptanceForm(method='POST', action='/', encType='multipart/form-data')
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input(type="file" name="datafile")
                    input#continueBtn.requiredButton.button.midMarginBottom(type="submit" value="Upload")

                if (error)
                    h1.heading-medium Upload Error
                    div #{error}

        if(stagedIncomplete || staged)
            div.column-full
                h1.heading-large Staged
                div.column-half
                    p Missing nomis IDs:
                        =" "
                        span#stagedIncompleteCount #{stagedIncomplete}
                    if stagedIncomplete > 0
                        if(isFilling)
                            a#fillBtn.button(href="stopFill" role="button") Stop filling Nomis numbers
                        else
                            a#fillBtn.button(href="fill" role="button") Start filling Nomis numbers
                        =" "
                        a.button(href="viewIncomplete" role="button") View incomplete rows

                div.column-half
                    p Ready to merge: #{staged}
                    if staged > 0
                        a.button(href="merge" role="button") Merge staging to master
                    if staged > 0 || stagedIncomplete > 0
                        ="  "
                        a.button.button-secondary(href="clearStaged" role="button") Delete staged data!

        if(pending || rejected)
            div.column-full
                h1.heading-large Pending
                div.column-half
                    p Rows to process
                        =" "
                        span#pendingCount #{pending}
                    if pending > 0
                        if(isFilling)
                            p Wait for filling to complete
                        else
                            if(isSending)
                                a.button(href="stopSend" role="button") Stop sending to Nomis
                            else
                                a.button(href="send" role="button") Start sending to Nomis

                div.column-half
                    p Rows that failed
                        = " "
                        span#rejectedCount #{rejected}
                    a.button(href="viewErrors" role="button") View failed rows

block append scripts
    script(src="/public/javascripts/activityStatePoll.js?"+version)
