extends layout

block content

    h1.heading-large Upload caseload data

    form#acceptanceForm(method='POST', action='/', encType='multipart/form-data')
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="file" name="datafile")
        input#continueBtn.requiredButton.button.midMarginBottom(type="submit" value="Upload")

    if (error)
        h1.heading-medium Upload Error
        div #{error}

    if(stagedIncomplete || staged)
        hr
        h1.heading-large Staged caseload data

            h1.heading-medium Missing nomis IDs
            div #{stagedIncomplete}

            a.button(href="fill" role="button") Fill in Nomis numbers

            if stagedIncomplete > 0
                =" "
                a.button(href="viewIncomplete" role="button") View incomplete rows
                br
                br

            h1.heading-medium Ready to merge
            div #{staged}

            a.button(href="merge" role="button") Merge staging to master
            ="  "
            a.button.button-secondary(href="clearStaged" role="button") Delete staged data!
            br
            br

    if(pending || rejected)
        hr
        h1.heading-large Pending caseload data

            h1.heading-medium Rows to process
            div #{pending}

            a.button(href="send" role="button") Send to Nomis
            br
            br

            if rejected > 0
                h1.heading-medium Rows that failed last time
                div #{rejected}

                a.button(href="viewErrors" role="button") View failed rows
                br
                br
